/* Reset browser styles */
* {
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.5;
  color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Header */
.header{
  background-color: #0F0E4E;
  color: #ffffff;
  width: 100vw;
  height: 10vh;
  display: flex;
}

/* Main */

.main {
  background-color: #ffffff;
  width: 100vw;
  height: 80vh;
  display: flex;
  /* flex-direction: row; */
}

/* basebord */
.basebord {
  background-color: #0F0E4E;
  color: #ffffff;
  width: 100vw;
  height: 10vh;
  display: flex;
}

.basebord button {
  background-color: #ffffff;
  border: none;
  display: inline-block;
  color: #0F0E4E;
  height: 50%;
}